<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="static/style.css">
  <title>ECU Dashboard</title>
</head>

<body>
    <div class="header" style="background-color: rgb(89, 42, 138);">
        <a href="#" class="logo" style="color: white;">ECU Dashboard</a>
        <div class="menu-toggle">&#9776;</div>
        <div class="buttons">
            <a href="#" class="active" style="color: white;">Faculty</a>
            <a href="#" style="color: white;">Courses</a>
            <a href="#" style="color: white;">SCH Drilldown</a>
            <a href="#" style="color: white;">FTE</a>
            <a href="#" style="color: white;">Faculty Committees</a>
            <a href="#" style="color: white;">Resources</a>
        </div>
    </div>

    <div class="content">
        <h1>CS Department Faculty Information</h1>
        <div class="table-container">
            <table border="1">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Honorific</th>
                        <th>First</th>
                        <th>MI</th>
                        <th>Last</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Office</th>
                        <th>Research Interests</th>
                        <th>Rank</th>
                        <th>Remarks</th>
                        <th>Currently Employed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for faculty in faculty_data %}
                    <tr>
                        <td>{{ faculty.0 }}</td>
                        <td>{{ faculty.1 }}</td>
                        <td>{{ faculty.2 }}</td>
                        <td>{{ faculty.3 }}</td>
                        <td>{{ faculty.4 }}</td>
                        <td>{{ faculty.5 }}</td>
                        <td>{{ faculty.6 }}</td>
                        <td>{{ faculty.7 }}</td>
                        <td>{{ faculty.8 }}</td>
                        <td>{{ faculty.9 }}</td>
                        <td>{{ faculty.10 }}</td>
                        <td>{{ faculty.11 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="pagination">
            {% for i in range(1, page + 2) %}
            <a href="{{ url_for('index', page=i) }}">{{ i }}</a>
            {% endfor %}
        </div>
    </div>

    <div class="footer" style="margin-top: 20px;">
        &copy; 2024 Your University | Group 3 All Rights Reserved
    </div>
</body>

</html>

